<header id="header"></header>
<section>
  <div id="cart" class="card">
    <header class="cardHeader">Shopping Cart</header>
    <table class="carttable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Qty</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td>{{ item.Name }}</td>
          <td>{{ item.Qty }}</td>
          <td>{{ item.Price }}</td>
          <a
            type="Cancel"
            id="removeItemButton"
            class="btn btn-remove danger"
            (click)="removeItem(item)"
            >x</a
          >
        </tr>
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <label>Total:</label>
          <label>{{ total | currency }}</label>
        </td>
      </tfoot>
    </table>
  </div>
  <div id="primary" class="card">
    <header class="cardHeader">Add</header>
    <form>
      <div>
        <label for="name">Name:</label>
        <input id="name" type="text" placeholder="Name" />
      </div>
      <div>
        <label for="qty">Qty:</label>
        <input id="qty" type="number" placeholder="Qty" />
      </div>
      <div>
        <label for="price">Price:</label>
        <input id="price" type="number" placeholder="Price" />
      </div>
      <div class="text-align-right">
        <button
          type="button"
          id="addItemButton"
          class="btn btn-mb-12 primary"
          (click)="addItem()"
        >
          Add
        </button>
        <button
          type="button"
          id="cancelButton"
          class="btn btn-mb-hidden danger"
          (click)="resetForm()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</section>
