<header id="header"></header>
<section>
  <div id="cart" class="card">
    <header class="cardHeader">Shopping Cart</header>
    <table class="carttable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Qty</th>
          <th>Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems$ | async">
          <td>{{ item.Name }}</td>
          <td>{{ item.Qty }}</td>
          <td>{{ item.Price }}</td>
          <a
            type="Cancel"
            id="removeItemButton"
            class="btn btn-remove danger"
            (click)="removeItem(item)"
            >x</a
          >
        </tr>
      </tbody>
      <tfoot>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <label>Total:</label>
          <label>{{ total | currency }}</label>
        </td>
      </tfoot>
    </table>
  </div>
  <div id="primary" class="card">
    <header class="cardHeader">Add</header>
    <form>
      <div>
        <label for="name">Name:</label>
        <select
          class="form-control"
          id="name"
          required
          [(ngModel)]="newItem.id"
          name="name"
          style="width:75%;"
          (change)="onChangeItem($event.target.value)"
        >
          <option *ngFor="let product of PRODUCTS" [value]="product.id"
            >{{ product.Name }} pn</option
          >
        </select>
        <!-- <input id="name" type="text" placeholder="Name" /> -->
      </div>
      <div>
        <label for="qty">Qty:</label>
        <input
          type="number"
          class="form-control"
          id="qty"
          required
          placeholder="Qty"
          [(ngModel)]="newItem.Qty"
          name="qty"
          min="1"
        />
      </div>
      <div>
        <label for="price">Price:</label>
        <label for="price">{{ price | currency }}</label>
      </div>
      <div class="text-align-right">
        <button
          type="button"
          id="addItemButton"
          class="btn btn-mb-12 primary"
          (click)="addItem()"
        >
          Add
        </button>
        <button
          type="button"
          id="cancelButton"
          class="btn btn-mb-hidden danger"
          (click)="resetForm()"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</section>
